@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 75%;
  margin: auto;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {
.app{
  width: 80%;
}
}

@media (max-width: 768px) {
.app{
  width: 90%;
}
}

@media (max-width: 640px) {
.app{
  width: 94%;
}
p{
  font-size: 14px;
}
.footer li{
  font-size: 14px;
}
}

/* @media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 640px) {

} */